.logo {
  height: 100px;        
  width: 100px;         
  object-fit: cover;   
  border-radius: 6px;  
  margin-right: 16px;  
}
.spacer {
  flex: 1 1 auto;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
